<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="myConn" connectionString="Data Source=sql5019.smarterasp.net; Initial Catalog=DB_9FC00F_uag;User id=DB_9FC00F_uag_admin;Password=proyecto2016"
      providerName="System.Data.Sql" />
    <add name="proyectocarlitos.Properties.Settings.ConnectionString"
      connectionString="Data Source=sql5019.smarterasp.net;Persist Security Info=True;User ID=DB_9FC00F_uag_admin"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>